@charset "utf-8";

/*************************************************************
 * Player widget layout (to be used for the widget audio player)
**************************************************************
*/
/* Handling the fixed navbar for a view with a (widget) player specifically */
/* Depending on the screen size, consider the stacked level items of the widget player */
/* Note: Pixel counts are taken from the player widget section, by manual evaluation
   plus 1em grace space */

// Fixed at bottom
.has-player-navbar-fixed-bottom {
  padding-bottom: calc(200px + 1em);
}

@media screen and (min-width: 340px /* mobile */) {
  .has-player-navbar-fixed-bottom {
      padding-bottom: calc(160px + 1em);
  }
}

@media screen and (min-width: 769px /* tablet */) {
  .has-player-navbar-fixed-bottom {
      padding-bottom: calc(105px + 1em);
  }
}
@media screen and (min-width: 1024px) {
  .has-player-navbar-fixed-bottom {
      padding-bottom: calc(152px + 1em);
  }
}


// Fixed at top
.has-player-navbar-fixed-top {
    padding-top: calc(200px + 1em);
}

@media screen and (min-width: 340px /* mobile */) {
    .has-player-navbar-fixed-top {
        padding-top: calc(160px + 1em);
    }
}

@media screen and (min-width: 769px /* tablet */) {
    .has-player-navbar-fixed-top {
        padding-top: calc(105px + 1em);
    }
}
@media screen and (min-width: 1024px) {
    .has-player-navbar-fixed-top {
        padding-top: calc(152px + 1em);
    }
}

/*************************************************************
 * Player styles (to be used for the audio player)
 * These styles are based on the slate bulmaswatch theme and borrow variables from there
**************************************************************
//TODO check which of these are actually still used
*/

$player-progress-color: $green; //from BULMA-Swatch theme
$player-timeline-color: $button-background-color; //from BULMA-Swatch theme: same as other button's background, to get a consistent "player bar"
/* The playing color should be non-distracting, but be strong enough to visually indicate the playing state*/
$player-playing-color: $success;
//$player-playing-color: darken($green, 35%);
// $player-playing-color: lighten($green, 35%);
// $player-playing-color: $green;

.player {
    background-color: $button-background-color; //from BULMA-Swatch theme
    display: inline-block;
    line-height: 1.5625;
    position: relative;
}

.player-timeline {
    height: 100%;
    min-width: 2em;
    position: relative;

    .player-progress,
    .player-seeker {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
    }

    /* A player progress as simple vertical handle */
    .player-progress {
        background-color: rgba(0, 0, 0, 0.33);
        border-right-width: 0.3em;
        border-right-style: solid;
        //red instead of: $button-color; border-right-color: darken($danger, 14%);
        border-right-color: $button-color;
        z-index: 1;
    }

    .player-seeker {
        cursor: pointer;
        width: 100%;
        z-index: 2;
    }
}

.player-time {
    display: flex;
    justify-content: space-between;
    color: $text;

    /* Keep some distance from the edge, to better show the times, for height according to standard buttons */
    padding: 0.5em;

    .player-time-current {
        padding-left: 0.75em;
    }

    .player-time-total {
        opacity: 0.5;
        padding-right: 0.75em;
    }
}

/** Allows to show elements in front of the player-progress background span
   * @devdoc Otherwise, due to unknown reasons, these elements would be shown behind the progress shade, regardless of that they are defined after the progress shade.
   */
.player-timeline .foreground {
    position: relative;
    z-index: 2;
    // However in the foreground, these display elements should not capture click events
    pointer-events: none;
}

.player-volume {
    display: inline-block;
    height: 1.1rem;
    margin: 0 0 0 2px;
    width: 6rem;
}

/* The player should take full witdth */
.player-panel {
    width: 100%;
}

/** The seekbar. It should always be visible, taking up what's available, however small on small devices */
.player-seekbar {
    /* Width takes max available space among siblings */
    width: inherit;
    /* Height similar to the used standard buttons */
    height: 40px;

    background-color: $player-timeline-color;

    /* outline more like a button, with border (However, no rounded corners, and with other text alignment) */
    border: $button-border-width solid $button-border-color;
    margin-right: -1px;
}

/* When playing, indicate by this changing style */
.player-playing-indication {
    //background-color: $player-playing-color;
    color: $player-playing-color;
}
