@charset "utf-8";

/*************************************************************
 * Specific overrides for Bulma variables, intend to be used 
 * together with the "slate" bulmaswatch theme
 * (Must be loaded before bulmaswatch)
**************************************************************
*/

/* stronger shadow, for better visibility with the dark bulma slate theme*/
$shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 100%), 0 0 0 1px rgb(10 10 10 / 2%);

/* Use mobile-style navbar always
(navbar is currently only used for the player controls in the bottom nav bar)*/
$navbar-breakpoint: 10000px;

/* no hovering indication on the navbar*/
$navbar-item-hover-color: inherit;
$navbar-item-hover-background-color: inherit;

/* The width for the surrounding border of tracks */
$track-border-width: 5px;
