@charset "utf-8";

/*************************************************************
 * Section stylings
 * Replayer-specific (smaller) section margins
**************************************************************
*/

/* Default padding on section (for smaller screens) smaller, and equally small on all sides*/
@media screen and (max-width: $desktop) {
    .section {
        padding: 1.5rem 1.5rem;
    }
}

@media screen and (max-width: $tablet) {
    .section {
        padding: 0.5rem 0.5rem;
    }
}

/* A custom block (usable instead of a section, when only vertical spacing is necessary */
.block:not(:last-child) {
  margin-bottom: 3rem;
}

@media screen and (max-width: $desktop) {
  .block:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: $tablet) {
  .block:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}


