@charset "utf-8";

/*************************************************************
 * Styles for specific buttons usage
 * These styles are based on the slate bulmaswatch theme and borrow variables from there
**************************************************************
*/

/*************************************************************
 * (Track) Button layout
**************************************************************
*/

/* Multiline buttons (use <br/> in a button text to force multiline) */
.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

/*************************************************************
 * Support for button block layout (use by adding "has-gap")
 * Aligns all the buttons nicely when placed within a "block" 
 * layout with flex-grow (e.g. the cues button field)
 * Fixes the otherwise unequal gaps of right-edge buttons in a group.
 * 
 * Note: the gap CSS feature is not supported on all devices,
 * notably not on older iOS devices with Safari below 14.1
 * Thus, the gap feature is tested beforehand
**************************************************************
*/

@supports ((gap: 10px) and (display: flex)) {
    /* First, for a gapped buttons group,  
     * remove the original bulma margin from the grouped buttons */
    .buttons.has-gap .button {
        margin-bottom: 0;
    }
    .buttons.has-gap .button:not(:last-child):not(.is-fullwidth) {
        margin-right: 0;
    }
    .buttons.has-gap:last-child {
        margin-bottom: 0;
    }

    /* Then, instead of the margin, add a consistent gap 
     * of the same size between the grouped buttons
     */
    .buttons.buttons.has-gap {
        gap: 0.5rem;
    }
}

/*************************************************************
 * Disabled buttons should have no background or border
 **************************************************************
*/
.button[disabled],
fieldset[disabled] .button,
.button[disabled]:hover,
fieldset[disabled] .button:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

/*************************************************************
 * Support for button icon rotations
 **************************************************************
*/

.button .icon.rotate {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;

    &.right {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    &.up {
        -ms-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    &.down {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
