@charset "utf-8";

/*************************************************************
 * General navbar stylings
 * These styles are based on a the "slate" bulmaswatch theme and borrow variables from there
**************************************************************
*/

/* Disable touch callout on menu items */
a.navbar-item {
    /*Nonstandard, only expected to work on Safari on iOS*/
    -webkit-touch-callout: none;
}

/* No border around the whole navbar, to keep it more visually docked at the viewport */
.navbar {
    border: none;
}

/* Instead of the whole navbar, just use bottom border on the relevant items */
.navbar-item {
    border-bottom: 1px solid $dark;
}

/* Show the active item connected to the view background
* @remarks Intended to work with the bulmaswatch slate theme */
.navbar-item.router-link-active,
.navbar-item.router-link-hover,
.navbar-item.router-link-active:focus,
.navbar-item.router-link-active:focus-within {
    background-color: $body-background-color;
    border-bottom: none;
    border-left: 1px solid $dark;
}

/*************************************************************
 * Specific styles for nav buttons (inside a nav element or with the is-nav class)
 * These nav buttons do not have an immediate function, but rather serve
 * a navigational purpose
 **************************************************************/

/* Navigational buttons generally should have no border (like is-ghost), 
* but have a subtle hover background
* Except, when focused by keyboard this should not apply (and the usual focus border should be applied)
* to allow visual cues for keyboard navigation
*/

.button.is-nav,
nav .button {
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
}

.button.is-nav:focus:not(:active),
nav .button:focus:not(:active) {
    box-shadow: none;
}

/* Specific handling for focus visility.
* Nav-Buttons should in general not show a focus visual,
* except for keyboard navigation, with the specific modifier, focus-visible
*/
.button.is-nav:focus,
nav .button:focus {
    border-color: transparent;
    box-shadow: none;
}
.button.is-nav:focus-visible,
nav .button:focus-visible {
    border-color: #ededed;
}

/* Indicate an actionable item */
.button.is-nav:hover,
nav .button:hover {
    background: $grey-dark;
}

/*************************************************************
 * Specific styles for knob buttons (showing a knob input
 * within a button, with the is-knob class
 * These knob buttons do not have a clickable action, but serve as
 * a slider type input
 **************************************************************/

/** Knobs that are inside buttons should appear with minimal padding (using most space) inside the button */
.button.is-knob {
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
}

/*************************************************************
 * Specific styles for indicator buttons (similar to is-static)
 * These buttons are placeholders,
 * without action, to display a certain state
**************************************************************/

/* Indicator buttons should have no border and no background */
/* Their foreground color should be like normal text */
.button.is-indicator,
.button.is-indicator:hover {
    background: none;
    border-color: transparent;
    pointer-events: none;
    color: $text;
}
