@charset "utf-8";

/*************************************************************
 * Styles for user input
 * These styles are based on the slate bulmaswatch theme and borrow variables from there
**************************************************************
*/
.select select,
.textarea,
.input {
    // background-color: $black-ter;
    // border-color: $black-ter;
    background-color: darken($dark, 5%);
    border-color: darken($dark, 5%);
    border-radius: 4px;
    color: $white-bis;
    box-shadow: none;
}

.is-placeholder,
.textarea::placeholder,
.input::placeholder {
    color: $grey-light;
    font-style: italic;
}

/** Addon-buttons (for inputs on the right side) are
visually tied to their left button */
.field.has-addons button.button.as-after-addon:not(:hover) {
    border-left-color: transparent;
}
