@charset "utf-8";

/*************************************************************
 * Dropdown stylings
 * These styles are based on a the "slate" bulmaswatch theme and borrow variables from there
**************************************************************
*/

/* Dropdown menu should encompass max menu item content by default */
.dropdown-menu {
    width: max-content;
}

/* The menus should not be very narrow to have fewer word-breaking for longer entries*/
.dropdown-menu {
    /* wider than the 12 rem default*/
    min-width: 15rem;
}

/** Unset default button styles for dropdown menu items. 
 *  This makes buttons usable as dropdown items, 
 *  supporting proper accessibility,
 *  without visual interference of typical button styling
 */
button.dropdown-item {
    border: unset;
    color: unset;
    background-color: unset;
    cursor: pointer;
}

/* Dropdown item with better suited contrast for a dark theme */
a.dropdown-item,
button.dropdown-item {
    color: $white-bis;
}

/* No wide right padding, the area is used by an icon */
a.dropdown-item,
button.dropdown-item {
    padding-right: 1em;
}

/* Hovered dropdown item with better suited contrast for a dark theme */
a.dropdown-item:hover,
button.dropdown-item:hover {
    background-color: $grey; //$background; //$dark; //$button-background-color; //from BULMA-Swatch theme
    color: $white-bis;
}

/* Hovered active dropdown item with better suited contrast for a dark theme */
a.dropdown-item.is-active,
button.dropdown-item.is-active {
    background-color: $light;
    color: $dark;
}

/* Icons are spaced similarly to a button */
.dropdown-item-icon {
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
}

.dropdown-content {
    border-color: $border;
    border-width: 1px;
    border-style: solid;
}

/* The alignment should be left always (No LTR support) */
.dropdown-content {
    text-align: left;
}

/* divider similar to menu border */
.dropdown-divider {
    background-color: $border;
}

/* static menu items are not clickable */
.dropdown-item.is-static {
    pointer-events: none;
}

/* header menu items are shorter */
.dropdown-item.is-header {
    padding-top: 0;
    padding-bottom: 0;
}

/* Indicate the active item
* @remarks Intended to work with the bulmaswatch slate theme */
.router-link-active .dropdown-item,
.router-link-hover .dropdown-item,
.router-link-active:focus .dropdown-item,
.router-link-active:focus-within .dropdown-item {
    background-color: $body-background-color;
}
