@charset "utf-8";

/*************************************************************
 * Dropdown stylings
 * These styles are based on a the "slate" bulmaswatch theme and borrow variables from there
**************************************************************
*/

/* Dropdown menu should encompass max menu item content by default */
.dropdown-menu {
    width: max-content;
}

/* The menus should not be very narrow to have fewer word-breaking for longer entries*/
.dropdown-menu {
    /* wider than the 12 rem default*/
    min-width: 15rem;
}

/* Dropdown item with better suited contrast for a dark theme */
.dropdown-item {
    color: $white-bis;
}

/* Hovered dropdown item with better suited contrast for a dark theme */
.dropdown-item:hover {
    background-color: $grey; //$background; //$dark; //$button-background-color; //from BULMA-Swatch theme
    color: $white-bis;
}

/* Hovered active dropdown item with better suited contrast for a dark theme */
.dropdown-item.is-active {
    background-color: $light;
    color: $dark;
}

/* Icons are spaced similarly to a button */
.dropdown-item-icon {
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
}

.dropdown-content {
    border-color: $border;
    border-width: 1px;
    border-style: solid;
}

/* The alignment should be left always (No LTR support) */
.dropdown-content {
    text-align: left;
}
