@charset "utf-8";

/*************************************************************
 * Custom Replayer tooltip
 * Basic implementation taken from 
 * Bulma Tooltip (from https://bulma-tooltip.netlify.app/)
**************************************************************
*/

/* Change some properties distinguish tooltips from other content*/
$tooltip-background-opacity: 1;
$tooltip-radius: 20px;
$tooltip-animation-duration: 200ms;
$tooltip-animation-transition-timing-function: ease;
$tooltip-arrow-size: 10px;

/* Default colors more to the Replayer theme*/
$tooltip-background-color: $dark;

@import '../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass';

// /*additional top-left position*/
// [data-tooltip]:not(.is-loading).has-tooltip-top.has-tooltip-left::before,
// [data-tooltip]:not(.is-disabled).has-tooltip-top.has-tooltip-left::before,
// [data-tooltip]:not([disabled]).has-tooltip-tops.has-tooltip-left::before {
//     top: 0;
//     right: auto;
//     bottom: auto;
//     left: 0;
//     transform: translate(-100%, -100%);
// }

/* Make the tooltips as narrow as the text allows */
[data-tooltip]:not(.is-loading).has-tooltip-multiline::before,
[data-tooltip]:not(.is-disabled).has-tooltip-multiline::before,
[data-tooltip]:not([disabled]).has-tooltip-multiline::before {
    width: max-content;
}

/* Arrow should make full contact even on fully round corner
* (Currently only implemented on left position)
*/
[data-tooltip]:not(.is-loading).has-tooltip-left.has-tooltip-arrow::after,
[data-tooltip]:not(.is-disabled).has-tooltip-left.has-tooltip-arrow::after,
[data-tooltip]:not([disabled]).has-tooltip-left.has-tooltip-arrow::after {
    left: -4px;
}

/* Hide the tooltips when the (hovered) element is active (pressed)
*/
[data-tooltip]:hover:active.is-hover-only::before,
[data-tooltip]:hover:active.is-hover-only::after {
    visibility: hidden;
}

/* Hide the tooltips upon request (opposite of isActive)
*/
[data-tooltip]:active.has-tooltip-inactive::before,
[data-tooltip]:active.has-tooltip-inactive::after,
[data-tooltip]:hover.has-tooltip-inactive::before,
[data-tooltip]:hover.has-tooltip-inactive::after {
    visibility: hidden;
}
