@charset "utf-8";

/*************************************************************
 * Modal stylings
 * These styles are based on a the "slate" bulmaswatch theme and borrow variables from there
**************************************************************
*/

.modal-card {
    box-shadow: $shadow;
}

.modal-content,
.modal-card {
    /* same margin on all sizes, including on small viewports */
    margin: 0 auto;
}

/* A wide variant for a modal, taking up more width than usual for wider viewports */ 
@media screen and (min-width: 769px) {
    .modal-content.is-wide,
    .modal-card.is-wide {
      min-width: 640px;
      width: 80vw;
    }
  }