@charset "utf-8";

/*************************************************************
 * These are specific styles for the playhead slider an it's adornments
**************************************************************
*/

.playhead-slider svg {
    height: 20px !important;
}
.playhead-slider .button {
    max-height: 40px;
}

.playhead-slider .button .icon:last-child:not(:first-child) {
    margin-left: 0;
    margin-right: 0;
}

/** Use a really small font for the time display */
.playhead-slider .is-size-7.is-family-monospace {
    padding-top: -0.4rem;
    font-size: 0.65rem !important;
}

/** left seeker icon in line with the time text */
.playhead-slider .level-right .icon svg {
    padding-right: 0;
    margin-right: -7px;
}
/** right seeker icon in line with the time text */
.playhead-slider .level-left .icon svg {
    padding-left: 0;
    margin-left: +7px;
}

/* styles for the playhead slider, similar to the peaksjs color */
.playhead-slider input[type='range'].slider::-moz-range-track {
    background: $text !important;
}
.playhead-slider input[type='range'].slider::-webkit-slider-runnable-track {
    background: $text !important;
}
.playhead-slider input[type='range'].slider::-ms-track {
    background: $text !important;
}
.playhead-slider input[type='range'].slider::-ms-fill-lower {
    background: $text;
}
.playhead-slider input[type='range'].slider::-ms-fill-upper {
    background: $text;
}
