@charset "utf-8";

/*************************************************************
 * Styles for user input
 * These styles are based on the slate bulmaswatch theme and borrow variables from there
**************************************************************
*/
.select select,
.textarea,
.input {
    // background-color: $black-ter;
    // border-color: $black-ter;
    background-color: darken($dark, 5%);
    border-color: darken($dark, 5%);
    border-radius: 4px px;
    color: $white-bis;
    box-shadow: none;
}

.is-placeholder,
.textarea::placeholder,
.input::placeholder {
    color: $grey-light;
    font-style: italic;
}

/*************************************************************
 * Unfortunately, the existing focus style is different for colored buttons
   However, for Replayer, colored buttons should have the same 
   focus styles as all the other buttons.
   Thus, this style is set here for them all the same   
**************************************************************/

/* focus */
.button:focus,
.button.is-primary:focus,
.button.is-link:focus,
.button.is-info:focus,
.button.is-success:focus,
.button.is-warning:focus,
.button.is-danger:focus,

/* is-focused */
.button.is-focused,
.button.is-primary.is-focused ,
.button.is-link.is-focused ,
.button.is-info.is-focused ,
.button.is-success.is-focused ,
.button.is-warning.is-focused ,
.button.is-danger.is-focused {
    border-color: $grey-lightest;
    color: $grey-lightest;
}

/* focus */
.button:focus:not(:active),
.button.is-primary:focus:not(:active),
.button.is-link:focus:not(:active),
.button.is-info:focus:not(:active),
.button.is-success:focus:not(:active),
.button.is-warning:focus:not(:active),
.button.is-danger:focus:not(:active),

/* is-focused */
.button.is-focused:not(:active),
.button.is-primary.is-focused:not(:active) ,
.button.is-link.is-focused:not(:active) ,
.button.is-info.is-focused:not(:active) ,
.button.is-success.is-focused:not(:active) ,
.button.is-warning.is-focused:not(:active) ,
.button.is-danger.is-focused:not(:active) {
    box-shadow: 0 0 0 0.125em rgb(250 250 250 / 25%);
}
