@charset "utf-8";

/*************************************************************
 * Dropdown layout stylings
**************************************************************
*/

/* A slim variant for a dropdown menu */
.dropdown.is-slim .dropdown-menu {
    width: auto;
    min-width: auto;
}

/* A slim variant for dropdown items */
.dropdown.is-slim .dropdown-menu button.dropdown-item {
    padding-left: 8px;
    padding-right: 8px;
}

/* No wide right padding, the area is used by an icon */
a.dropdown-item,
button.dropdown-item {
    padding-right: 1em;
}

/* Icons are spaced similarly to a button */
.dropdown-item-icon {
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
}

/* The alignment should be left always (No LTR support) */
.dropdown-content {
    text-align: left;
}

/* header menu items are shorter */
.dropdown-item.is-header {
    padding-top: 0;
    padding-bottom: 0;
}

/*************************************************************
 * Dropdown color stylings
 * These styles are based on a the "slate" bulmaswatch theme and borrow variables from there,
 * creating a matching visual experience for these dropdowns
**************************************************************
*/

/** Button styles for dropdown menu items. 
 *  This makes buttons usable as dropdown items, 
 *  supporting proper accessibility,
 *  without visual interference of typical button styling
 */
button.dropdown-item {
    border: none;
    background-color: $background;
    cursor: pointer;
}

/* Dropdown item with better suited contrast for a dark theme */
a.dropdown-item,
button.dropdown-item {
    color: $white-bis;
}

/* Hovered dropdown item with better suited contrast for a dark theme */
a.dropdown-item:hover,
button.dropdown-item:hover {
    background-color: $grey; //$background; //$dark; //$button-background-color; //from BULMA-Swatch theme
    color: $white-bis;
}

/* Hovered active dropdown item with better suited contrast for a dark theme */
a.dropdown-item.is-active,
button.dropdown-item.is-active {
    background-color: $light;
    color: $dark;
}

.dropdown-content {
    border-color: $border;
    border-width: 1px;
    border-style: solid;
}

/* divider similar to menu border */
.dropdown-divider {
    background-color: $border;
}

/* static menu items are not clickable */
.dropdown-item.is-static {
    pointer-events: none;
}

/* Indicate the active item
* @remarks Intended to work with the bulmaswatch slate theme */
.router-link-active .dropdown-item,
.router-link-hover .dropdown-item,
.router-link-active:focus .dropdown-item,
.router-link-active:focus-within .dropdown-item {
    background-color: $body-background-color;
}

/* Disabled items should be dimmed. Hovering should not be visible */
button.dropdown-item:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
button.dropdown-item:disabled:hover {
    background-color: $background;
}
