@charset "utf-8";

/** **********************************************************
 * Styles for the outfront widget
**************************************************************

/* outfront on the left lower corner */
#outfront-float {
    left: 15px !important;
    right: 0 !important;
    width: 35px !important; /*square*/
}
#outfront-container {
    left: 20px !important;
    right: 0 !important;
}
