@charset "utf-8";

/*************************************************************
 * General navbar stylings
 * These styles are based on a the "slate" bulmaswatch theme and borrow variables from there
**************************************************************
*/

/* Disable touch callout on menu items */
a.navbar-item {
    /*Nonstandard, only expected to work on Safari on iOS*/
    -webkit-touch-callout: none;
}

/* No border around the whole navbar, to keep it more visually docked at the viewport */
.navbar {
    border: none;
}

/* Instead of the whole navbar, just use bottom border on the relevant items */
.navbar-item {
    border-bottom: 1px solid $dark;
}

/* Show the active item connected to the view background
* @remarks Intended to work with the bulmaswatch slate theme */
.navbar-item.router-link-active,
.navbar-item.router-link-hover,
.navbar-item.router-link-active:focus,
.navbar-item.router-link-active:focus-within {
    background-color: $body-background-color;
    border-bottom: none;
    border-left: 1px solid $dark;
}

/*************************************************************
 * Fixes for the fixed navbar, to have it enabled only for the larger screen widhts
**************************************************************/

/** The fixed navbar helper for desktop must be redefined, because it is broken
    The designator "laptop" is defined here for this purpose
    NOTE: This solution here only provides a top fixed menu, not a bottom fixed menu */

/** Use no padding by default, for the non-fixed menu */
html.has-navbar-fixed-top-laptop {
    padding-top: 0;
}
/** Define the fixed navbar from the laptop breakpoint and larger
* HINT: "laptop" is defined same as "desktop"
*/
@media screen and (min-width: 1024px) {
    /** Use appropriate padding for the fixed menu */
    html.has-navbar-fixed-top-laptop,
    body.has-navbar-fixed-top-laptop {
        padding-top: 4rem;
    }

    /** fix the menu menu */
    .navbar.is-fixed-top-laptop {
        top: 0;
    }

    .navbar.is-fixed-top-laptop {
        left: 0;
        position: fixed;
        right: 0;
        z-index: 30;
    }

    .navbar.is-fixed-top-laptop .navbar-menu {
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 4rem);
        overflow: auto;
    }
}

/*************************************************************
 * Specific styles for nav buttons (inside a nav element or with the is-nav class)
 * These nav buttons do not have an immediate function, but rather serve
 * a navigational purpose
 **************************************************************/

/* Navigational buttons generally should have no border (like is-ghost), 
* but have a subtle hover background
* Except, when focused this should not apply (and the usual focus border should be applied)
* to allow visual cues for keyboard navigation
*/

.button.is-nav,
nav .button {
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
}

.button.is-nav:focus,
nav .button:focus {
    border-color: #ededed;
}

.button.is-nav:hover,
nav .button:hover {
    background: $grey-dark;
}

// nav .button:focus:not(:active),
// nav .button.is-focused:not(:active) {
//     box-shadow: none;
// }

/*************************************************************
 * Specific styles for indicator buttons (similar to is-static)
 * These buttons are placeholders,
 * without action, to display a certain state
**************************************************************/

/* Indicator buttons should have no border and no background */

.button.is-indicator,
.button.is-indicator:hover {
    background: none;
    border-color: transparent;
    pointer-events: none;
}
