@charset "utf-8";

/** **********************************************************
 * Application-specific presets to the Bulma CSS 
**************************************************************
*/
/* Keep the menu visible on most but the smallest devices
* @devdoc Must be applied before the bulma.sass is used, because this is used there */
$navbar-breakpoint: 320px;

/** Using Bulma CSS with a theme for Bulma */
@import '../node_modules/bulmaswatch/slate/_variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulmaswatch/slate/_overrides.scss';

/* Player styles (to be used for the audio player) */
@import 'replayer-player-styles.scss';
/* Menu styles */
@import 'replayer-navbar-styles.scss';

/*************************************************************
 * Application-specific add-ons/modifications to the Bulma CSS 
**************************************************************
*/

/*************************************************************
 * Overscroll / scrollbar handling
**************************************************************
*/

/* Disable overscroll page refresh */
html,
body {
    overscroll-behavior-y: none;
}

/* Disable overscroll page navigation */
html,
body {
    overscroll-behavior-x: none;
}

/* Only show the vertical scrollbar if necessary */
html {
    overflow-y: auto;
}

/*************************************************************
 * Additional typography stylings
**************************************************************
*/

/* A variant for a dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-half {
    opacity: 50%;
}

/* A variant for a slightly dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-quarter {
    opacity: 25%;
}

/* A variant for a slightly dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-third {
    opacity: 33%;
}

/*************************************************************
 * Icons stylings
**************************************************************
*/

/* Specific styles for Bulma to work neatly with pure SVG icons, with appropriate sizing
* @devdoc See https://github.com/jgthms/bulma/issues/1867 */
[class*=' icon'],
[class^='icon'] {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    line-height: 1;
    position: relative;
    top: -0.05em;
    vertical-align: middle;
}

/* A success variant of a border //TODO remove if never used */
.has-border-success {
    border: 1px solid $success;
}

/*************************************************************
 * Navigational stylings
**************************************************************
*/

/** Navigational buttons never have borders or shadows (a la ghost), even when focused or hovered, keep them undisctracting */
nav .button {
    border: none;
}

nav .button:focus:not(:active),
nav .button.is-focused:not(:active) {
    box-shadow: none;
}

/* Multiline buttons (use <br/> in a button text to force multiline) */
.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

/*************************************************************
 * Layout helpers
**************************************************************
*/

/* Some text that does not wrap */
.has-text-nowrap {
    white-space: nowrap;
}

/* Default padding on section (for non-specified, smaller screens) equally small on all sides*/
@media screen and (max-width: 1023px) {
    .section {
        padding: 1.5rem 1.5rem;
    }
}

/* Improve text legibility */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*************************************************************
 * Outfront
**************************************************************
*/

/* outfront on the left lower corner */
#outfront-float {
    left: 15px !important;
    right: 0 !important;
    width: 35px !important; /*square*/
}
#outfront-container {
    left: 20px !important;
    right: 0 !important;
}
