@charset "utf-8";

/** Using Bulma CSS with a theme for Bulma */
@import '../node_modules/bulmaswatch/slate/_variables.scss';
@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulmaswatch/slate/_overrides.scss';

/** Application-specific add-ons/modifications to the Bulma CSS */

/* Disable overscroll page refresh */
html,
body {
    overscroll-behavior-y: none;
}

/* Disable overscroll page navigation */
html,
body {
    overscroll-behavior-x: none;
}

/* A variant for a dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-half {
    opacity: 50%;
}

/* Currently only apply to the player, as we only there use SVG icons.
//TODO Later, apply to all icons, as soon as only svg icons are used everywhere.*/
.player-panel {
    /* Style to properly show SVG icons, with appropriate sizing */
    [class*=' icon'],
    [class^='icon'] {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        line-height: 1;
        position: relative;
        top: -0.05em;
        vertical-align: middle;
    }
}
/* Player styles (to be used for the audio player) */
@import 'replayer-player-styles.scss';

/* Improve text legibility */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
