@charset "utf-8";

/** **********************************************************
 * Application-specific usage of the Bulma CSS 
**************************************************************
*/

/** Presets for the Bulma theme */
@import '_replayer-variables.scss';

/** Using Bulma CSS with a theme for Bulma */
@import '../node_modules/bulmaswatch/slate/_variables.scss';

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulmaswatch/slate/_overrides.scss';

/** Additional changes for specific components/features within Replayer */
@import '_replayer-section.scss';
@import '_replayer-player-styles.scss';
@import '_replayer-nav-styles.scss';
@import '_replayer-flexbox-helpers.scss';
@import '_replayer-level-helpers.scss';
@import '_replayer-button.scss';
@import '_replayer-circular-progress.scss';

@import '_replayer-dropdown.scss';
@import '_replayer-input.scss';
@import '_replayer-video.scss';
@import '_replayer-modal.scss';
@import '../node_modules/bulma-print/bulma-print';
@import '../node_modules/bulma-print/sass/experimental/bw.scss';
@import '../node_modules/bulma-print/sass/experimental/outlined.scss';

@import '_replayer-cropped-text.scss';
@import '_replayer-spacing.scss';
@import '_replayer-transitions.scss';
@import '_replayer-drag.scss';
@import '_replayer-tooltip.scss';

/* Slider (from bulma-slider) without border for the thumb*/
$slider-thumb-border: none !default;
$slider-track-background: $border !default;
@import '_replayer-slider.sass';
@import '_replayer-slider-playhead.scss';

/* Below: general application-specific add-ons/modifications to the Bulma CSS */
/*************************************************************
 * Overscroll / scrollbar handling
**************************************************************
*/
/* Disable overscroll page refresh */
html,
body {
    overscroll-behavior-y: none;
}

/* Disable overscroll page navigation */
html,
body {
    overscroll-behavior-x: none;
}

/* Only show the vertical scrollbar if necessary */
html {
    overflow-y: auto;
}

/*************************************************************
 * Additional typography stylings
**************************************************************
*/

/* A variant for a dimmed item (e.g. supportive/informational text parts)*/
.has-opacity-half {
    opacity: 50%;
}

/* A variant for a slightly dimmed item (e.g. supportive/informational text parts)*/
.has-opacity-quarter {
    opacity: 25%;
}

/* A variant for a slightly dimmed item (e.g. supportive/informational text parts)*/
.has-opacity-third {
    opacity: 33%;
}

/* Improve text legibility */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*************************************************************
 * Icons stylings
**************************************************************
*/

/* Specific styles for Bulma to work neatly with pure SVG icons, with appropriate sizing
* @devdoc See https://github.com/jgthms/bulma/issues/1867 */
[class*=' icon'],
[class^='icon'] {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    line-height: 1;
    position: relative;
    top: -0.05em;
    vertical-align: middle;
}

/*************************************************************
 * Layout helpers
**************************************************************
*/

/** A complement to the is-relative class
*/
.is-absolute {
    position: absolute !important;
}

.is-single-line {
    white-space: nowrap;
}

/* Allows text to break at words */
.has-text-break-word {
    word-break: break-word;
}

/** Scales down the element to 50% of the size, maintaining the inner component's aspect ratio,
while also keeping the original with. 
@remarks This is useful to save (vertical) space while not altering the layout.*/
.is-scaled-50 {
    transform: scale(0.5) translate(-50%, -50%);
    width: 200%;
}

/* monospace fonts should also not compact whitespace*/
.is-family-monospace {
    white-space: pre;
}

/** **********************************************************
 * Fullscreen styles
**************************************************************
*/

/** A div that occupies full screen (not necessarily in native fullscreen mode) */
.is-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

/** A div that occupies full screen (not necessarily in native fullscreen mode) */
.is-fullscreen,
.is-fullscreen::backdrop {
    background-color: $black-ter;
}

/** **********************************************************
 * Explicit cursors
**************************************************************
*/
/* Disabled items should be dimmed. Hovering should not be visible */
.has-cursor-not-allowed {
    cursor: not-allowed;
}

/** **********************************************************
 * Cursors for dragging/sorting
**************************************************************
*/
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/** **********************************************************
 * Additional adornments
**************************************************************
*/

/* A default border  */
.has-border-primary,
.has-border {
    border: 1px solid $primary;
}

/* A success variant of a border  */
.has-border-success {
    border: 1px solid $success;
}

/* A info variant of a border  */
.has-border-info {
    border: 1px solid $info;
}

.is-borderless {
    border: 0;
}

/* A transparent background, usable e.g. in a box */
.has-background-transparent {
    background-color: transparent !important;
}

.has-background-none {
    background: none !important;
}

/* Selection Colors */
::selection {
    background-color: $link;
    color: $link-invert;
}

/* Tables don't have a background */
.table {
    background-color: transparent;
}

/* Tables have always the first and last border line */

.table tbody tr:first-child td,
.table tbody tr:first-child th {
    border-top: $table-cell-border;
}

.table tbody tr:last-child td,
.table tbody tr:last-child th {
    border-bottom: $table-cell-border;
}

/* Headings should have a fixed color, not changing on hover */
.heading {
    color: $text;
}

/* Serves as a placeholder for a minimum set of characters
@remarks currently used in the TimeDisplay.vue component
 */
.is-minimum-7-characters {
    min-width: 7ch;
}

/* Serves as a placeholder for a minimum set of characters
@remarks currently used in the TimeDisplay.vue component
 */
.is-minimum-5-characters {
    min-width: 5ch;
}

/*************************************************************
 * Color enhancements
**************************************************************
*/

/* Text color is also applied to titles
* @remarks By default, titles only have a default color, not affected by the text color helper */
.has-text-success .title {
    color: $success;
}

/** A colorless item should also have the default appearance (including similar brightness) except the coloring */
.is-colorless {
    filter: grayscale(100%) !important;
}

/*************************************************************
 * Hyperlinks
**************************************************************
*/

/* An external link icon, for all links with a target in a new tab */
a[target='_blank']:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' %3E%3Cpath fill='%23fafafa' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'%3E%3C/path%3E%3C/svg%3E");
    /* partially taken from the icon styles */
    position: relative;
    top: 0.14rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 1.2rem;
}

/* Links should not break lines */
a {
    white-space: nowrap;
}
/* External links should use the typical underline on hover */
a[target='_blank']:hover {
    text-decoration: underline;
}

/*************************************************************
 * Notifications
**************************************************************
*/

.notification {
    padding-top: 2.25rem;
    padding-right: 3.5rem;
    padding-bottom: 2.25rem;
    padding-left: 2.5rem;

    margin-bottom: 1rem;
    margin-top: 1rem;
}

.notification > .delete {
    right: 1rem;
    top: 1rem;
}

/*************************************************************
 * Experimental content
**************************************************************
*/

/* elements on a slight danger-like area */
.is-experimental {
    outline: dashed $danger;
    outline-offset: 0;
    outline-width: thin;
}
/* elements on a slight danger-like background, but not the inputs */
.is-experimental:not(input) {
    background-color: rgba($danger, 0.14);
}

/*************************************************************
 * Bulma fixes
**************************************************************
*/

/** Fix the vertical alignment of the labels in a horizontal form 
(this is a general Bulma issue, see https://github.com/jgthms/bulma/issues/3354) */
@media screen and (min-width: 769px), print {
    .field.is-horizontal {
        .field-label.is-normal {
            padding-top: 0.5em;
        }
    }
}
