@charset "utf-8";

/** **********************************************************
 * Application-specific presets to the Bulma CSS 
**************************************************************
*/
/* Keep the menu stowed away also on large screens
    * @devdoc Must be applied before the bulma.sass is used, because this is used there */
$navbar-breakpoint: 2400px;

/** Using Bulma CSS with a theme for Bulma */
@import '../node_modules/bulmaswatch/slate/_variables.scss';

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulmaswatch/slate/_overrides.scss';

/* Replayer-specific (smaller) section margins */
@import 'replayer-section.scss';

/* Player styles (to be used for the audio player) */
@import 'replayer-player-styles.scss';

/* Menu styles */
@import 'replayer-navbar-styles.scss';

/* Dropdown styles */
@import 'replayer-dropdown.scss';

/* Input styles */
@import 'replayer-input.scss';

/* Outfront styles */
@import 'outfront.scss';

/* Below: Application-specific add-ons/modifications to the Bulma CSS */

/*************************************************************
 * Overscroll / scrollbar handling
**************************************************************
*/

/* Disable overscroll page refresh */
html,
body {
    overscroll-behavior-y: none;
}

/* Disable overscroll page navigation */
html,
body {
    overscroll-behavior-x: none;
}

/* Only show the vertical scrollbar if necessary */
html {
    overflow-y: auto;
}

/*************************************************************
 * Additional typography stylings
**************************************************************
*/

/* A variant for a dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-half {
    opacity: 50%;
}

/* A variant for a slightly dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-quarter {
    opacity: 25%;
}

/* A variant for a slightly dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-third {
    opacity: 33%;
}
/* To explicitly require a radius for elements that are not the outermost child in add-on fields
This is useful to fix situations when the outermost child temporarily is hidden by a toggling value
 */

.field.has-addons
    .control:not(:first-child):not(:last-child)
    .button.has-left-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .input.has-left-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .select
    select.has-left-radius {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

.field.has-addons
    .control:not(:first-child):not(:last-child)
    .button.has-right-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .input.has-right-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .select
    select.has-right-radius {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

/* Improve text legibility */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*************************************************************
 * Icons stylings
**************************************************************
*/

/* Specific styles for Bulma to work neatly with pure SVG icons, with appropriate sizing
* @devdoc See https://github.com/jgthms/bulma/issues/1867 */
[class*=' icon'],
[class^='icon'] {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    line-height: 1;
    position: relative;
    top: -0.05em;
    vertical-align: middle;
}

/*************************************************************
 * (Track) Button layout
**************************************************************
*/

/* Multiline buttons (use <br/> in a button text to force multiline) */
.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

/* Create a "block text" like layout for the cue buttons in a track */
.track .buttons .cue.button {
    flex-grow: 1;
}

/* Hack-fix the margin for the cue buttons (have equal space around all,
but not at the "end/right" container's border */
.track .buttons {
    margin-right: -0.5rem;
}
.track .buttons .cue.button {
    margin-right: 0.5rem;
}

/*************************************************************
 * Layout helpers
**************************************************************
*/

/* Some text that does not wrap */
.has-text-nowrap {
    white-space: nowrap;
}

/* Allows to take maximum available horizontal space, especially in levels*/
.fill-available {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

/** **********************************************************
 * Additional adornments
**************************************************************
*/

/* A default border  */
.has-border-primary,
.has-border {
    border: 1px solid $primary;
}

/* A success variant of a border  */
.has-border-success {
    border: 1px solid $success;
}

/* A info variant of a border  */
.has-border-info {
    border: 1px solid $info;
}

/* A transparent background, usable e.g. in a box */
.has-background-transparent {
    background-color: transparent;
}
