@charset "utf-8";

/** **********************************************************
 * Application-specific presets to the Bulma CSS 
**************************************************************
*/
/* Controls when the menu is stowed away 
    * @devdoc Must be applied before the bulma.sass is used, because this is used there */
$navbar-breakpoint: 320px;

/** Using Bulma CSS with a theme for Bulma */
@import '../node_modules/bulmaswatch/slate/_variables.scss';

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulmaswatch/slate/_overrides.scss';

/* Replayer-specific (smaller) section margins */
@import '_replayer-section.scss';

/* Player styles (to be used for the audio player) */
@import '_replayer-player-styles.scss';

@import '_replayer-navbar-styles.scss';
@import '_replayer-dropdown.scss';
@import '_replayer-input.scss';
@import '_replayer-print.scss';

/* Below: Application-specific add-ons/modifications to the Bulma CSS */

/*************************************************************
 * Overscroll / scrollbar handling
**************************************************************
*/

/* Disable overscroll page refresh */
html,
body {
    overscroll-behavior-y: none;
}

/* Disable overscroll page navigation */
html,
body {
    overscroll-behavior-x: none;
}

/* Only show the vertical scrollbar if necessary */
html {
    overflow-y: auto;
}

/*************************************************************
 * Additional typography stylings
**************************************************************
*/

/* A variant for a dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-half {
    opacity: 50%;
}

/* A variant for a slightly dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-quarter {
    opacity: 25%;
}

/* A variant for a slightly dimmed item (e.g. supporitve/informational text parts)*/
.has-opacity-third {
    opacity: 33%;
}
/* To explicitly require a radius for elements that are not the outermost child in add-on fields
This is useful to fix situations when the outermost child temporarily is hidden by a toggling value
 */

.field.has-addons
    .control:not(:first-child):not(:last-child)
    .button.has-left-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .input.has-left-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .select
    select.has-left-radius {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

.field.has-addons
    .control:not(:first-child):not(:last-child)
    .button.has-right-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .input.has-right-radius,
.field.has-addons
    .control:not(:first-child):not(:last-child)
    .select
    select.has-right-radius {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

/* Improve text legibility */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*************************************************************
 * Icons stylings
**************************************************************
*/

/* Specific styles for Bulma to work neatly with pure SVG icons, with appropriate sizing
* @devdoc See https://github.com/jgthms/bulma/issues/1867 */
[class*=' icon'],
[class^='icon'] {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    line-height: 1;
    position: relative;
    top: -0.05em;
    vertical-align: middle;
}

/*************************************************************
 * (Track) Button layout
**************************************************************
*/

/* Multiline buttons (use <br/> in a button text to force multiline) */
.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

/* Create a "block text" like layout for the cue buttons in a track */
.track .buttons .cue.button {
    flex-grow: 1;
}

/* Hack-fix the margin for the cue buttons (have equal space around all,
but not at the "end/right" container's border */
.track .buttons {
    margin-right: -0.5rem;
}
.track .buttons .cue.button {
    margin-right: 0.5rem;
}

/*************************************************************
 * Layout helpers
**************************************************************
*/

/** Adds an overflow-ellipsis 
* @remarks "overflow" value must be different from "visible", e.g. using is-clipped
*/
.has-ellipsis {
    text-overflow: ellipsis;
}
/** Adds an overflow-ellipsis specifically on the left side 
* @remarks "overflow" value must be different from "visible", e.g. using is-clipped
*/
.has-left-ellipsis {
    text-overflow: ellipsis;
    direction: rtl;
}
.is-single-line {
    white-space: nowrap;
}

/* Allows to take maximum available horizontal space, especially in levels*/
.fill-available {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

/** **********************************************************
 * Additional adornments
**************************************************************
*/

/* A default border  */
.has-border-primary,
.has-border {
    border: 1px solid $primary;
}

/* A success variant of a border  */
.has-border-success {
    border: 1px solid $success;
}

/* A info variant of a border  */
.has-border-info {
    border: 1px solid $info;
}

/* A transparent background, usable e.g. in a box */
.has-background-transparent {
    background-color: transparent;
}

/* Selection Colors */
::selection {
    background-color: $link;
    color: $link-invert;
}

/* An external link icon, for all links with a target in a new tab */
a[target='_blank']:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' %3E%3Cpath fill='%23fafafa' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'%3E%3C/path%3E%3C/svg%3E");
    /* partially taken from the icon styles */
    position: relative;
    top: 0.14rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 1.2rem;
}

/*************************************************************
 * Dropdown menu
**************************************************************
*/

/* divider similar to menu border */
.dropdown-divider {
    background-color: $border;
}

/* static menu items are not clickable */
.dropdown-item.is-static {
    pointer-events: none;
}

/* header menu items are shorter */
.dropdown-item.is-header {
    padding-top: 0;
    padding-bottom: 0;
}

/*************************************************************
 * Experimental content
**************************************************************
*/

/* Use danger text */
.is-experimental,
.is-experimental .title,
.is-experimental .subtitle,
.is-experimental h1,
.is-experimental h3,
.is-experimental .navbar,
.is-experimental .navbar-item,
.is-experimental .navbar,
.is-experimental .navbar-link {
    color: $danger;
}

/* elements on a slight danger-like area */
.is-experimental {
    background-color: rgba($danger, 0.14);
    outline: dashed $danger;
    outline-offset: 0;
}

/* However, navbar menu entries should not use an outer outline, but show it inside the items, like a border */
.navbar .is-experimental {
    outline-offset: -0.3em;
}

/* Hovered menu item in bright danger, similar to standard hovered items */
.navbar .is-experimental .navbar-item:hover,
.navbar .is-experimental .navbar-link:hover {
    color: lighten($danger, 14%);
}
