# Browsers that Replayer explicitly supports
last 2 Firefox versions
last 2 FirefoxAndroid versions
last 2 Chrome versions
last 2 ChromeAndroid versions
last 2 Edge versions
last 2 Safari versions
iOS >= 12

# Try to be supportive of generally used browsers
last 2 versions, not dead, > 0.2%