# Build Pipeline for replayer-pwa

trigger:
    - main

pool:
    vmImage: ubuntu-latest

steps:
    - task: NodeTool@0
      inputs:
          versionSpec: '16.x'
      displayName: 'Install Node.js'
    # Building the package
    - script: |
          npm install
          npm test 
          npm run build
      displayName: 'npm install and build'
    # Publishing the test results
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
          testRunner: JUnit
          testResultsFiles: '**/junit.xml'
    # FTP upload the build output
    # Note: This does not honor the .artifactignore file
    - task: FtpUpload@2
      inputs:
          credentialsOption: 'inputs' # Options: serviceEndpoint, inputs
          #The FTP server URL must begin with ftp:// or ftps://
          serverUrl: 'ftps://s052.cyon.net' # Required when credentialsOption == Inputs
          username: $(ftp-username) # Required when credentialsOption == Inputs
          password: $(ftp-password) # Required when credentialsOption == Inputs
          rootDirectory: $(System.DefaultWorkingDirectory)/dist
          # Deploy all except the stats.json
          filePatterns: '**/!(stats.json)'
          #Just use the defined root for the FTP user
          remoteDirectory: '/'
          #keep the directory, as it's the root anyway
          clean: false
          #removing content does not work, because I have static files that are not allowed to access for this upload task
          cleanContents: false
          preservePaths: true
